/* Google Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/* Color variables defined */
:root {
    --main-color: #1F2937;
    --secondary-color: #3882F6;
    --neutral-gray: #E5E7EB;
    --italic: 300;
    --regular: 400;
    --extra-bold: 900;
}

/* -------------------------General */
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    justify-content: center;
}

.container {
    width: 1100px;
    display: flex;
}

.column {
    flex-direction: column;
}

/* -------------------------Header */
.header {
    background-color: var(--main-color);
    margin: 0;
    padding: 20px;
}

.header .container,
.hero .container {
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: var(--extra-bold);
    color: white;
    margin: 0;
}

.header .menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px
}

li {
    list-style: none;
}

li a {
    color: var(--neutral-gray);
    font-size: 18px;
    text-decoration: none;
}

/* -------------------------Hero */
.hero {
    background-color: var(--main-color);
}

.hero .container {
    align-items: start;
    margin: 60px 0;
    padding: 20px;
    flex-wrap: wrap;
}

.hero .main-text {
    width: 400px;
    margin-bottom: 40px;
}

.hero h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 42px;
}

.hero p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

button.button {
    color: white;
    font-size: 18px;
    font-weight: var(--regular);
    background-color: var(--secondary-color);
    border: none;
    height:35px;
    margin: 10px 0;
    padding: 0 34px;
    border-radius: 10px;
}

button.button:hover {
    background-color: white;
    color: var(--secondary-color);
    cursor: pointer;
}

/* -------------Some random information */

.block.information .container {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 60px 0;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 20px;
}

.item img {
    width: 100px;
    height: auto;
    margin: 20px;
}

/* -------------Quote */
.block.quote {
    background-color: var(--neutral-gray);
}

.block.quote .container {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    padding: 0 80px;
}

.cite {
    font-size: 36px;
    font-style: italic;
    font-weight: var(--italic);
    color: var(--main-color)
}

.name {
    margin-top: 20px;
    align-self: end;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color)
}

/* -------------Call-to-action */
.block.call .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: white;
    margin: 100px 20px;
    padding: 24px 40px 24px 40px ;
    border-radius: 8px;
}

.button.stroke{
    border: 2px solid white;
}

/* -------------Footer */

footer.block{
    padding: 60px 0;
    color: white;
    background-color: var(--main-color);
}